.Cart {
  @media only screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: [row1-start] 100px [row1-end];

    & > .Cart-header {
      grid-column: 1/8;
      background-color: aqua;
    }
    & > .Cart-list {
      grid-column: 1/8;

      & > .CartItem {
        border: none;
        border-radius: 0;
        border-bottom: 1px lightgrey solid;
        padding-bottom: 1rem;
        margin-top: 1rem;
      }
    }
    & > .Cart-summary {
      grid-column: 8/13;
      grid-row-start: 1;
      background-color: antiquewhite;
    }
  }
}
