.CartItem {
  border: none;
  & > .card-body {
    display: flex;

    & > img {
      width: 30%;
    }

    & > div {
      width: 70%;
      margin-left: 1rem;
      & > .card-title {
        display: flex;
        justify-content: space-between;

        & > span {
          font-size: 1rem;
        }
      }
      & > .card-text {
        margin-bottom: 5px;
      }
    }
  }

  & > .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: inherit;

    & > svg:hover {
      cursor: pointer;
    }

    & > .card-text {
      display: flex;
      align-items: center;
      margin: 0;

      & > .form-select {
        margin-left: 10px;
      }
    }
  }
}
