.Cart {
  @media only screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2rem;
    padding-top: 2rem;

    & > .Cart-header {
      grid-column: 1/8;
    }
    & > .Cart-list {
      grid-column: 1/8;
      grid-row-start: 2;

      & > .CartItem {
        border: none;
        border-radius: 0;
        border-bottom: 1px lightgrey solid;
        padding-bottom: 1rem;
        margin-top: 1rem;
      }
    }
    & > .Cart-summary {
      grid-column: 8/13;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}
