.CartSummary {
  & > .card-body {
    & > .card-text {
      display: flex;
      justify-content: space-between;
    }
  }

  & > .card-footer {
    & > .card-text {
      display: flex;
      justify-content: space-between;
    }
  }

  & + .Cart-actions {
    display: flex;
    flex-direction: column;

    & > button {
      margin-top: 2rem;
    }
  }
}
